.converter{
  position: absolute;
  left: 35%;
  top: 300px;
  display: flex;
  flex-direction: column;
  height: 130px;
  justify-content: space-between;
  padding: 15px;
  box-shadow: 1px 1px 10px;

}
input{
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
.current-currency-container{
  margin-bottom: 15px;
}
.target-currency-container{
  display: flex;
  justify-content: space-between;
}
